
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
padding: 15px 40px;
}
.logo {
  color: #039788;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}
nav {
  display: flex;
  gap: 30px;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
main {
  min-height: 100vh;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  text-align: center;
}
h1 {
  color: white;
  font-size: 55px;
  width: 70%;
  margin: auto;
}
.subtitle {
  color: white;
  font-size: 20px;
  margin-top: 20px;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
}
.search-card {
  background-color: white;
  width: 320px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height : 300px
}
/* Inputs */
.search-card input {
  padding: 15px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 5px;
}
/* Bouton */
.search-card button {
  padding: 15px;
  border: none;
  background-color: #039788;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.result-card {
  background-color: white;
  width: 320px;
  height: 300px;
  padding: 25px;
  border-radius: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#results-container {
  overflow-x: hidden;
}
/* Image train */
.result-card img {
  width: 120px;
}
/* Ligne */
.line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 40px 0;
}
/* Texte */
.result-card p {
  color: rgb(0, 0, 0);
}
.trip-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 15px;
  min-height: 60px;
}
.book-btn {
  border: none;
  background-color: #039788;
  color: white;
  padding: 8px 8px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}
/* =========================
   panier.html
========================= */
#container {
  min-height: 100vh;
  background-color: #F0F2F1;
  justify-content: center; 
  align-items: center;
  display: flex;

}
.CardVide, .BookVide {
  background-color: white;
  justify-content: center;
  width: 70vw;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
}
.connexionBook {
  background-color: white;
  justify-content: center;
  width: 70vw;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
}

.connexionCard {
  background-color: white;
  padding: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 70vw;
}
.connexionCard > div > p:first-child, 
#tripscart-container {
    padding-left: 20px;
    padding-right: 20px;
}

.connexionCard > div > p:first-child {
    padding-top: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}
.titreCart{
  margin-bottom: 20px;
  text-align: center;
}
#tripscart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.trip-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Espace les éléments aux extrémités */
    align-items: center; /* Aligne verticalement le texte au milieu de la ligne */
    padding: 0;
    background-color: #F0F2F1; /* Optionnel : pour mieux voir la ligne */
    border-radius: 5px;
}

.trip-row p:first-child {
    flex: 1;
    text-align: left;
    padding: 0;
    margin-left: 10px;
}

.trip-row p:not(first-child) {
    flex: 1;
    text-align: center;
    margin-right: 20px;
    padding: 0;
}

.lineGray {

  width: 20%;

  height: 2px;

  background-color: #A8A9AE;

  margin: 0 auto;
}

#enjoy {

  color: #76988F;

  font-size: 14px;

  font-weight: bold;
  text-decoration: none;
}

.deleteTrip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 10px;
  margin: 10px;
  color: white;
  background-color: #439E86;
  border: 1px #439E86;
  border-radius: 5px;
  cursor: pointer;    
}
.cart-footer {
    display: flex;
    justify-content: space-between; /* Écarte le total et le bouton */
    align-items: center;
    padding: 20px;
    background-color: #00153E; /* Une couleur de fond différente pour le distinguer */
    color: white;
    margin-top: 20px;
    width: 100%;
}
.cart-footer p{
    margin: 0;
}

#purchase-btn {
    padding: 8px 15px;
    background-color: #439E86;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}